
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}
nav {
    background: #1e293b;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
nav a {
    color: #e2e8f0;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}
nav a:hover,
nav a.active {
    color: #38bdf8;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #38bdf8;
}
.blog-header {
    text-align: center;
    padding: 60px 20px;
}
.blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
}

.blog-card {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    transition: transform 1s ease;
}
.blog-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 3px 10px white;

}

.blog-card h3 {
    color: darkblue;
    margin-bottom: 10px;
}

.blog-card .desc {
    color: black;
    margin: 10px 0 20px;
}

