
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}
nav {
    background: #1e293b;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
nav a {
    color: #e2e8f0;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}
nav a:hover,
nav a.active {
    color: #38bdf8;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #38bdf8;
}
.skills {
    padding: 60px 40px;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-box {
    width: 230px;
    padding: 20px;
    background: #1e293b;
    border-radius: 10px;
    text-align: center;
}

.skill-box h3 {
    color: #38bdf8;
    margin-bottom: 10px;
}

.skill-box p {
    color: #94a3b8;
}
.projects {
    padding: 60px 40px;
    text-align: center;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    width: 260px;
    padding: 20px;
    background: #1e293b;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.project-card h3 {
    color: #38bdf8;
    margin-bottom: 10px;
}

.project-card p {
    color: #94a3b8;
}
